<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>f_accept</servlet-name>
        <servlet-class>f_accept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendmessage</servlet-name>
        <servlet-class>sendmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submit_post</servlet-name>
        <servlet-class>submit_post</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendgrpmessage</servlet-name>
        <servlet-class>sendgrpmessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_participant</servlet-name>
        <servlet-class>add_participant</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>f_accept</servlet-name>
        <url-pattern>/f_accept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendmessage</servlet-name>
        <url-pattern>/sendmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submit_post</servlet-name>
        <url-pattern>/submit_post</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendgrpmessage</servlet-name>
        <url-pattern>/sendgrpmessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_participant</servlet-name>
        <url-pattern>/add_participant</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
