.cbp-spmenu {
	background: #47a3da ;
	position: fixed;
	width: 280px;
	height: 100%;
	top: 0;
	z-index: 1000;
	left: 0px;
	
}

.cbp-spmenu h3 {
	color: #afdefa;
	font-size: 1.9em;
	padding: 20px;
	margin: 0;
	font-weight: 300;
	background: #0d77b6;
}

.cbp-spmenu a {
	display: block;
	color: #fff;
	font-size: 1.4em;
	font-weight: 300;
	border-bottom: 1px solid #258ecd;
	padding: 1em;
        text-transform: capitalize;

}

.fselected {
    display: block;
	color:#47a3da;
	font-size: 1.4em;
	font-weight: 300;
	border-bottom: 1px solid #258ecd;
	padding: 1em;
        background:#afdefa;
}
.cbp-spmenu a:hover {
	background: #258ecd;
}

.cbp-spmenu a:active {
	background: #afdefa;
	color: #47a3da;
}

.mess-content {
    margin-left: 290px;
}
[class*="typicons-"]:before {
  font-family: 'Typicons', sans-serif;
}

.module {
  width: 300px;
  margin: 20px auto;
  
}

.top-bar {
  background: #f95252;
  color: white;
  padding: 0.5rem auto 0.2rem;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
  text-indent: 5%;
  
}
 .top-bar h1 {
    display: inline;
    font-size: 1.8rem;
    
  }
.top-bar  .typicons-message {
    display: block;
    padding: 4px 5px 2px 5px;

  }
 top-bar  .left {
    float: left;
  }
.top-bar  .right {
    float: right;
    padding-top: 5px;
  }
 .top-bar > * {
    position: relative;
  }
  .top-bar:before {
    content: "";
    position: absolute;
    top: -100%;
    left: 5;
    right: 0;
    bottom: -100%;
    opacity: 0.25;
    background: radial-gradient(white, black);
    animation: pulse 1s ease alternate infinite;
  }
  

.discussion {
    overflow-y: scroll;
  list-style: none;
  width: 650px;
  height: 300px;
  background: #FFF8DC;
  margin: 0;
  padding: 0 0 50px 0;
 

}
.discussion li {
    padding: 0.5rem;
    overflow: hidden;
    display: flex;
    
  }
.discussion  .avatar {
    width: 40px;
    position: relative; 
}
.discussion .avatar img {
      display: block;
      width: 100%;
    }

.other .avatar:after {
     content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 0;
      height: 0;
      border: 5px solid #FFFF80;
      border-left-color: transparent;
      border-bottom-color: transparent;
    }
 
    .other .messages {
        background: #FFFF80;
}
.self {
  justify-content: flex-end;
  align-items: flex-end;
}
.self .messages {
    order: 1;
    border-bottom-right-radius: 0;
  }
.self .avatar {
    order: 2;
}
    .self .avatar:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 0;
      border: 5px solid white;
      border-right-color: transparent;
      border-top-color: transparent;
      box-shadow: 1px 1px 2px rgba(black, 0.2); 
    }
 
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(black, 0.2);
}
 .messages p {
    font-size: 1.0rem;
    margin:7px;
    width: 400px;
  }
  time {
    font-size: 0.7rem;
    color: #ccc;
  }

.sendButton {

	-moz-box-shadow: 0px 10px 14px -7px #3e7327;
	-webkit-box-shadow: 0px 10px 14px -7px #3e7327;
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
	background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
	background-color:#77b55a;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 25px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.sendButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
	background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
	background-color:#72b352;
}
.sendButton:active {
	position:relative;
	top:1px;
}
.msgg {
   position: absolute;
    width: 450px;
}

@keyframes pulse {
  from { opacity: 0; }
  to { opacity: 0.5; }
}